<% if object.errors.present? %>
  <div id="error_explanation">
    <h3><%= object.errors.size %> error prohibited this obj from being saved:</h3>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>